
body{
    background-image: url('./background.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0; padding: 0;
    align-items: center;
    
    
}

h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 60px;
    color: white;
    text-align: center;
}



table{
    background-color: rgb(243, 206, 248);
    border: 1.5px solid;
    border-radius: 7px;
    margin-left: auto; 
    margin-right: auto;
    
}


th {
    border: 1.5px solid rgb(0, 0, 0);
    background-color: rgba(230, 92, 230, 0.301);
    border-radius: 5px;

    color:black;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 30px;
    padding-right: 40px;

}
td {

    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    text-align: center;
    

    background-color:rgb(242, 218, 218);
    border: 1px solid;
    border-radius: 3px;
    
    width: 500px;

    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    
    
}

caption{
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    color: white;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    width: 330px;
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
    border-radius: 5px;
}


.sub {
    display: inline-block;
    background: rgba(246, 83, 246, 0.906);
    color: white;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
    text-transform: uppercase;

}

.sub--primary {
    color: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 3px;
    padding: 12px 30px;	
	
}
	
.sub--inside {
    margin-left: -100px;
}

.inp{
    width: 300px;
    background: #fff;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    font-size: 30px;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    padding: 22px 18px;

}
